body{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex :1;
}


/* button */
.add-btn{
    background-color: #fe422d !important;
    border: none !important;
}

/* show page */
 .show-img{
    height: 40vh;
 }

 .btns{
    display: flex;

 }








.navbar{
    background-color: white;
    color: black !important;
    height:5rem;
}

.fa-compass{
    color: #fe422d;
}

.nav-link{
    color:#222222 !important;
}


/* footer */

.f-info-links{
    text-decoration:none;
    color: #222222;
}

/* .f-info-links a:hover{
    text-decoration: underline;
} */

.f-info-socials, .f-info-links, .f-info-brand{
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
}

.f-info-socials i {
    font-size: 1.2 rem;
    margin-right: 1rem;
}

.f-info{
   text-align: center;
   height: 8rem;
   background-color: #ebebeb;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: space-evenly;
}

/* cards */

.listing-card{
    border: none !important;
    margin-bottom: 2rem;
    

}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover!important;
}

.card-body{
    padding: 0 !important;
}
.card-text p{
    font-weight: 400 !important;
}

.listing-link{
    text-decoration: none;
}

/* Map  */
#map {
    height: 350px;
    width: 90vh;
    border-radius: 10px;
}
